.service{
    background-image: url('https://res.cloudinary.com/dgpxvazru/image/upload/v1713869382/Poultry/whiteblankbackgroundtexturedesignelement-1_2x_ml0udp.webp');
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
}